  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  /* menu 'button' */
  li, .dropbtn, .menubtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
  }

  .menubtn a {
    color: white;
    text-decoration: none;
  }

  li div {
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  /* menu dropdown content */
  .dropdownContent {
    color: #222;
    margin-top:12px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .menuItem {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .menuItem a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .menuItem:hover {background-color: #f1f1f1}
